<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CustomDashboard</title>

    <link rel="stylesheet" href="/output.css">
    <script src="./script/time.js"></script>
</head>
<body class="m-0">
    <!--<div class="w-screen h-screen bg-[radial-gradient(ellipse_at_center,rgba(0,0,0,0)_20%,rgba(0,0,0,0.7)_100%)] -z-40">
        <img src="<%= bg_image %>" alt="background" id="bg" class="w-screen h-screen bg-center bg-cover bg-no-repeat -z-50">
    </div>-->

    <div id="customRCMenu" class="customRCMenu">
        <ul>
            <li onclick="alert('Action 1')">Action 1</li>
            <li onclick="alert('Action 2')">Action 2</li>
            <li onclick="alert('Action 3')">Action 3</li>
        </ul>
    </div>

    <div id="todoItemRCMenu" class="customRCMenu">
        <ul>
            <li>Edit</li>
            <li>Delete</li>
        </ul>
    </div>

    <div id="favPageRCMenu" class="customRCMenu">
        <ul>
            <li>Edit</li>
            <li>Delete</li>
        </ul>
    </div>

    <div id="cursorHint" class="hidden absolute bg-dark shadow-[2px,_2px,_6px,_rgba(0,0,0,0.2)] py-1 px-2 z-40 text-white rounded-sm text-sm">
        <p id="cursorHintText"></p>
    </div>



    <div id="overlay" class="hidden absolute left-0 right-0 w-full h-full z-50 flex justify-center items-center">

        <!-- <div id="add_FavPage_overlay" class="relative w-1/3 h-1/3 bg-dark rounded-2xl border-ldark border-6
        grid grid-cols- grid-rows-3">
            <img id="exit_overlay" src="./img/btn_remove.png" class="absolute top-2 right-2 cursor-pointer w-6 h-6">

            <input type="text" class="row-start-1 col-start-2">
            <input type="text" class="row-start-2 col-start-2">
            <button class="bg-white text-2xl text-black row-start-3 col-start-1 col-end-3 w-1/3 h-fit p-1.5 self-center mx-auto rounded-2xl">Create</button>
        </div> -->

        <div id="add_FavPage_overlay" class="bg-dark text-white w-[500px] h-[250px] rounded-2xl border-ldark border-5 flex flex-col justify-center items-center relative hidden">
            <img id="exit_FavPage_overlay" src="./img/btn_remove.png" class="absolute top-3 right-3 cursor-pointer w-6 h-6">
            <div class="w-4/5 h-full py-12">
                <div class="mb-6 flex items-center">
                    <p class="text-xl mr-4 w-20">Name:</p>
                    <input placeholder="Example" class="text-xl flex-1 border-b border-gray-500 focus:border-white bg-transparent text-white outline-none" type="text" id="add_FavPage_name">
                </div>
                <div class="mb-10 flex items-center">
                    <p class="text-xl mr-4 w-20" for="url">Url:</p>
                    <input placeholder="https://example.com" class="text-xl flex-1 border-b border-gray-500 focus:border-white bg-transparent text-white outline-none" type="url" id="add_FavPage_url">
                </div>
                <div class="flex justify-center">
                    <button id="add_FavPage_create" class="bg-white text-black px-6 py-2 text-lg rounded shadow hover:bg-ldark hover:text-white transition">
                        Create
                    </button>
                </div>
            </div>
        </div>

        <div id="weatherConfig_overlay" class="bg-dark text-white w-[500px] h-[220px] rounded-2xl border-ldark border-5 flex flex-col justify-center items-center relative hidden">
            <img id="exit_weatherConfig_overlay" src="./img/btn_remove.png" class="absolute top-3 right-3 cursor-pointer w-6 h-6">
            <div class="w-4/5 h-full py-12">
                <div class="mb-4 flex items-center">
                    <p class="text-xl mr-4 w-20">City:</p>
                    <input placeholder="City" class="text-xl flex-1 border-b border-gray-500 focus:border-white bg-transparent text-white outline-none" type="text" id="city_weatherConfig_overlay">
                </div>
                <!--<label class="inline-flex items-center cursor-pointer">
                    <input type="checkbox" value="" class="sr-only peer" />
                    <div class="relative w-11 h-6 bg-gray-200 peer-focus:outline-none peer-focus:ring-4 peer-focus:ring-blue-300 dark:peer-focus:ring-blue-800 rounded-full peer dark:bg-gray-700 peer-checked:after:translate-x-full rtl:peer-checked:after:-translate-x-full peer-checked:after:border-white after:content-[''] after:absolute after:top-[2px] after:start-[2px] after:bg-white after:border after:border-gray-300 after:rounded-full after:h-5 after:w-5 after:transition-all dark:border-gray-600 peer-checked:bg-blue-600"></div>
                    <span class="ms-3 text-sm font-medium text-gray-900 dark:text-gray-300">Toggle me</span>
                </label>-->
                <div class="flex justify-center">
                    <p id="weatherConfig_error" class="text-xl text-red-700 mb-3"></p>
                </div>
                <div class="flex justify-center">
                    <button id="apply_weatherConfig_overlay" class="bg-white text-black px-6 py-2 text-lg rounded shadow hover:bg-ldark hover:text-white transition">
                        Apply
                    </button>
                </div>
            </div>
        </div>

        <div class="absolute inset-0 bg-dark/75 w-screen h-screen -z-40"></div>
    </div>


    <div class="relative w-full h-full -z-50">
        <img src="<%= bg_image %>" alt="background" id="bg" class="absolute w-screen h-screen object-cover -z-50">
        <div class="absolute inset-0 bg-[radial-gradient(ellipse_at_center,_rgba(0,0,0,0)_40%,_rgba(0,0,0,0.7)_100%)] w-screen h-screen -z-40"></div>
    </div>

    <main>

        <div class="col-start-1 flex flex-col justify-between">
            <section class="container overflow-hidden">
                <p id="date" class="h-12 text-5xl uppercase mb-4"></p>
                <div class="scrollable max-h-60 overflow-y-auto mb-1">
                    <p id="daily" class="text-lg">"<%= daily_quote %>"</p>
                    <p class="mt-2 text-xl text-right mr-2">- <%= daily_author %></p>
                </div>
                
            </section>
            <section class="container relative group">
                
                <h2>Weather</h2>
                
                <div id="weather_setupwarn" class="flex justify-between items-center flex-col my-20 gap-2 hidden">
                    <svg xmlns="http://www.w3.org/2000/svg" width="100" height="100" viewBox="0 0 24 24">
                        <path fill="#fff" d="M11.001 10h2v5h-2zM11 16h2v2h-2z" />
                        <path fill="#fff" d="M13.768 4.2C13.42 3.545 12.742 3.138 12 3.138s-1.42.407-1.768 1.063L2.894 18.064a1.99 1.99 0 0 0 .054 1.968A1.98 1.98 0 0 0 4.661 21h14.678c.708 0 1.349-.362 1.714-.968a1.99 1.99 0 0 0 .054-1.968zM4.661 19L12 5.137L19.344 19z" />
                    </svg>
                    <h3 class="text-xl">Setup needed</h3>
                    <button id="weatherSetup" class="bg-white text-black px-6 py-2 text-lg rounded shadow hover:bg-ldark hover:text-white transition">Setup</button>
                </div>
                <div id="weather" class="hidden">
                    <div class="flex justify-between mt-2">
                        <h3 id="weather_temp" class="text-7xl 2xl:text-8xl"></h3>
                        <img id="weather_icon" class="w-40 h-40 -mt-10 -mr-5">
                    </div>
                    <div class="flex justify-between text-xl 2xl:text-2xl -mt-2">
                        <h4 id="weather_minmax"></h4>
                        <h4 id="weather_humidity"></h4>
                    </div>
                    <div id="weatherscroll" class="scrollable overflow-y-auto w-full h-65 mt-5">
                        <div id="weather_forecast">
                        </div>
                    </div>
    
                    <div id="weatherReload" alt="reload weather forecast" class="absolute right-2 top-2 w-9 h-9 cursor-pointer hidden group-hover:block hover:bg-ldark rounded-xl p-2">
                        <svg id="weatherSpinner" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" class="hidden">
                            <g stroke="currentColor" stroke-width="1">
                                <circle cx="12" cy="12" r="9.5" fill="none" stroke-linecap="round" stroke-width="3">
                                    <animate attributeName="stroke-dasharray" calcMode="spline" dur="1.5s" keySplines="0.42,0,0.58,1;0.42,0,0.58,1;0.42,0,0.58,1" keyTimes="0;0.475;0.95;1" repeatCount="indefinite" values="0 150;42 150;42 150;42 150" />
                                    <animate attributeName="stroke-dashoffset" calcMode="spline" dur="1.5s" keySplines="0.42,0,0.58,1;0.42,0,0.58,1;0.42,0,0.58,1" keyTimes="0;0.475;0.95;1" repeatCount="indefinite" values="0;-16;-59;-59" />
                                </circle>
                                <animateTransform attributeName="transform" dur="2s" repeatCount="indefinite" type="rotate" values="0 12 12;360 12 12" />
                            </g>
                        </svg>
                        <svg id="weatherReloadImg" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 12 12">
                            <path fill="none" stroke="#fff" stroke-linecap="round" d="M10 4c-.8-1.1-2-2.5-4.1-2.5c-2.5 0-4.4 2-4.4 4.5s2 4.5 4.4 4.5c1.3 0 2.5-.6 3.3-1.5m1.3-7.5V4c0 .3-.2.5-.5.5H7.5" stroke-width="1.2" />
                        </svg>
                    </div>
                    <div id="weatherSettings" alt="settings" class="absolute left-2 top-2 w-9 h-9 cursor-pointer hidden group-hover:block hover:bg-ldark rounded-xl p-2">
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                            <path fill="currentColor" d="M12.012 2.25c.734.008 1.465.093 2.182.253a.75.75 0 0 1 .582.649l.17 1.527a1.384 1.384 0 0 0 1.927 1.116l1.4-.615a.75.75 0 0 1 .85.174a9.8 9.8 0 0 1 2.205 3.792a.75.75 0 0 1-.272.825l-1.241.916a1.38 1.38 0 0 0 0 2.226l1.243.915a.75.75 0 0 1 .272.826a9.8 9.8 0 0 1-2.204 3.792a.75.75 0 0 1-.849.175l-1.406-.617a1.38 1.38 0 0 0-1.926 1.114l-.17 1.526a.75.75 0 0 1-.571.647a9.5 9.5 0 0 1-4.406 0a.75.75 0 0 1-.572-.647l-.169-1.524a1.382 1.382 0 0 0-1.925-1.11l-1.406.616a.75.75 0 0 1-.85-.175a9.8 9.8 0 0 1-2.203-3.796a.75.75 0 0 1 .272-.826l1.243-.916a1.38 1.38 0 0 0 0-2.226l-1.243-.914a.75.75 0 0 1-.272-.826a9.8 9.8 0 0 1 2.205-3.792a.75.75 0 0 1 .85-.174l1.4.615a1.387 1.387 0 0 0 1.93-1.118l.17-1.526a.75.75 0 0 1 .583-.65q1.074-.238 2.201-.252m0 1.5a9 9 0 0 0-1.354.117l-.11.977A2.886 2.886 0 0 1 6.526 7.17l-.899-.394A8.3 8.3 0 0 0 4.28 9.092l.797.587a2.88 2.88 0 0 1 .001 4.643l-.799.588c.32.842.776 1.626 1.348 2.322l.905-.397a2.882 2.882 0 0 1 4.017 2.318l.109.984c.89.15 1.799.15 2.688 0l.11-.984a2.88 2.88 0 0 1 4.018-2.322l.904.396a8.3 8.3 0 0 0 1.348-2.318l-.798-.588a2.88 2.88 0 0 1-.001-4.643l.797-.587a8.3 8.3 0 0 0-1.348-2.317l-.897.393a2.884 2.884 0 0 1-4.023-2.324l-.109-.976a9 9 0 0 0-1.334-.117M12 8.25a3.75 3.75 0 1 1 0 7.5a3.75 3.75 0 0 1 0-7.5m0 1.5a2.25 2.25 0 1 0 0 4.5a2.25 2.25 0 0 0 0-4.5" />
                        </svg>
                    </div>
                </div>
            </section>
        </div>
        <div class="col-start-3 flex flex-col justify-between">
            <section class="h-75 container"></section>
            <section id="todo" class="container max-h-[440px]">
                <h2>TODO</h2>
                <input id="todo_add" type="text" placeholder="Add task">
                <ul id="todo_list" class="scrollable overflow-y-auto text-xl min-h-[150px] max-h-[300px]">
                </ul>
            </section>
        </div>


        <div class="col-start-2 row-start-1 flex flex-col justify-between">
            <div>
                <section id="time" class="text-8xl 2xl:text-9xl text-center 2xl:m-3 text-white text-shadow-lg my-3">  :  </section>
                <section class="h-11 flex justify-between items-center w-full bg-dark">
                    <input id="search_bar" type="text" placeholder="Search..." class="w-full ml-4 text-lg focus:outline-none text-white" tabindex="1" autocomplete="off">
                    <img src="./img/brave_logo.webp" alt="" class="w-7 h-7 mr-3 grayscale-50">
                </section>
                <section class="h-11 flex justify-between items-center w-full bg-dark my-2">
                    <input id="ask_bar" type="text" placeholder="Ask ChatGPT..." class="w-full ml-4 text-lg focus:outline-none text-white" tabindex="1" autocomplete="off">
                    <img src="./img/chatgpt_logo.png" alt="" class="w-7 h-7 mr-3 opacity-75">
                </section>
                <section id="saved_pages">
                    <div id="add_page"><img src="img/add_btn_white.png" alt="idkkk"></div>
                </section>
            </div>
            
            <section class="h-auto min-h-40 min-w-60 text-center text-xl container relative group max-h-96">
                <h2>Random joke</h2>
                <div class="scrollable max-h-60 overflow-y-auto mb-1">
                    <p id="jokeSetup" class="pb-2"><%= joke_setup %></p>
                    <p id="jokePunch"><%= joke_punch %></p>
                </div>
                
                <div id="jokeReload" alt="get another joke" class="absolute right-2 top-2 w-9 h-9 cursor-pointer hidden group-hover:block hover:bg-ldark rounded-xl p-2">
                    <svg id="jokeSpinner" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" class="hidden">
                        <g stroke="currentColor" stroke-width="1">
                            <circle cx="12" cy="12" r="9.5" fill="none" stroke-linecap="round" stroke-width="3">
                                <animate attributeName="stroke-dasharray" calcMode="spline" dur="1.5s" keySplines="0.42,0,0.58,1;0.42,0,0.58,1;0.42,0,0.58,1" keyTimes="0;0.475;0.95;1" repeatCount="indefinite" values="0 150;42 150;42 150;42 150" />
                                <animate attributeName="stroke-dashoffset" calcMode="spline" dur="1.5s" keySplines="0.42,0,0.58,1;0.42,0,0.58,1;0.42,0,0.58,1" keyTimes="0;0.475;0.95;1" repeatCount="indefinite" values="0;-16;-59;-59" />
                            </circle>
                            <animateTransform attributeName="transform" dur="2s" repeatCount="indefinite" type="rotate" values="0 12 12;360 12 12" />
                        </g>
                    </svg>
                    <svg id="jokeReloadImg" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 12 12">
                        <path fill="none" stroke="#fff" stroke-linecap="round" d="M10 4c-.8-1.1-2-2.5-4.1-2.5c-2.5 0-4.4 2-4.4 4.5s2 4.5 4.4 4.5c1.3 0 2.5-.6 3.3-1.5m1.3-7.5V4c0 .3-.2.5-.5.5H7.5" stroke-width="1.2" />
                    </svg>
                </div>
            </section>
        
        </div>
        

    </main>


    <script src="./script/overlay_util.js"></script>
    <script src="./script/bars.js"></script>
    <script src="./script/contextMenu.js"></script>
    <script src="./script/todo.js"></script>
    <script src="./script/fav_pages.js"></script>
    <script src="./script/joke.js"></script>
    <script src="./script/weather.js"></script>
    <script src="./script/img_hint.js"></script>


</body>
</html>

<!--
sm	40rem (640px)
md	48rem (768px)
lg	64rem (1024px)
xl	80rem (1280px)
2xl	96rem (1536px)

-->